/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Segoe UI', sans-serif;
  background:#f8f9fa;
}

/* NAVBAR */
.navbar{
  background:white;
  border-bottom:1px solid #eee;
}

.navbar-brand{
  font-weight:bold;
  color:#0d6efd;
}

.nav-link{
  color:#333;
  font-weight:500;
}

.nav-link:hover{
  color:#0d6efd;
}

/* HOME */
.home{
    height: 100vh;
    background: linear-gradient(
        rgba(241, 239, 239, 0.959),
        rgba(255,255,255,0.5)
    ),
    url("heheh.jpg") no-repeat;
    
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.home h1{
  font-size:48px;
  color:#0d6efd;
}

.home p{
  color:#666;
  margin:20px 0;
}
.btn-group{
    display: flex;
    gap: 15px;
}

.btn{
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 8px;
    font-weight: bold;
    transition: .3s;
}

.btn-primary{
    background: #0d6efd;
    color: white;
}

.btn-primary:hover{
    background: #084298;
}

.btn-outline{
    border: 2px solid #0d6efd;
    color: #0d6efd;
}

.btn-outline:hover{
    background: #0d6efd;
    color: white;
}
.navbar{
    background: #0047ff;
}

.nav-link{
    color: white !important;
    font-size: 18px;
}

.nav-link:hover{
    color: #ffd700 !important;
    border-bottom: 3px solid #ffd700;
}

.navbar-brand{
    color: white !important;
}

/* ABOUT */
.about{
  padding:80px 0;
  color:#0d6efd;
}
.about-header{
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
}

.about-header h4{
    color: #00d4ff;
    letter-spacing: 3px;
    margin-bottom: 15px;
    font-size: 18px;
}

.about-header h1{
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.about-header p{
    color: #bdbdbd;
    font-size: 18px;
    line-height: 1.8;
}

/* CONTENT */
.about-content{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;
    margin-top: 50px;
}

/* SUMMARY CARD */
.summary-card{
    background: #071133;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
}

.summary-card h2{
    font-size: 42px;
    margin-bottom: 25px;
}

.summary-card p{
    color: #c7c7c7;
    line-height: 1.9;
    margin-bottom: 20px;
}

/* SKILLS GRID */
.skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.skill-card{
    background: #071133;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid rgba(255,255,255,0.1);
    transition: 0.3s;
}

.skill-card:hover{
    transform: translateY(-10px);
    border-color: #00d4ff;
}

.skill-card i{
    font-size: 40px;
    color: #00d4ff;
    margin-bottom: 20px;
}

.skill-card h3{
    font-size: 28px;
    margin-bottom: 15px;
}

.skill-card p{
    color: #1d0fe7;
    line-height: 1.8;
}

/* RESPONSIVE */
@media(max-width: 992px){

    .about-header h1{
        font-size: 45px;
    }

    .about-content{
        grid-template-columns: 1fr;
    }

    .skills{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 768px){

    .about-header h1{
        font-size: 35px;
    }

    .summary-card h2{
        font-size: 30px;
    }

    .skill-card h3{
        font-size: 22px;
    }
}

/* SHOP */
.shop{
  padding:80px 0;
  color:#0d6efd;
}

.shop h2{
  text-align:center;
  margin-bottom:40px;
}

/* PRODUCT */
.product-card{
  background:hsl(240, 14%, 99%);
  padding:15px;
  border-radius:10px;
  text-align:center;
  border:1px solid #eee;
  transition:.3s;
}

.product-card:hover{
  transform:translateY(-5px);
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.product-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.product-card h3{
  font-size:18px;
  margin:10px 0;
}

.product-card p{
  color:#0d6efd;
  font-weight:bold;
}

.product-card button{
  width:100%;
  padding:10px;
  border:none;
  background:#0d6efd;
  color:white;
  border-radius:6px;
}

/* CONTACT */
.contact{
  padding:80px 0;
  text-align:center;
}
.contact-container{
    width: 90%;
    max-width: 1200px;
    background: #eafaf6;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 25px;
    padding: 60px;
    text-align: center;
    middle: 50,50%;
    margin: 80px auto;
}

.contact h4{
    color: #0e11f1;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.contact h1{
    color: rgb(19, 1, 1);
    font-size: 60px;
    margin-bottom: 20px;
}

.contact h1 span{
    color: hsl(200, 9%, 7%);
}

.contact p{
    color: hwb(0 1% 91%);
    font-size: 18px;
    line-height: 1.8;
}

.contact-buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn{
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: #f1e8e8;
    background: #151d3b;
    transition: .3s;
}

.email{
    background: #ff00b3;
    color: #fff;
}

.btn:hover{
    transform: translateY(-5px);
}

.contact-info{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}

.info-box{
    padding: 20px;
}

.info-box h3{
    color: hsl(0, 91%, 50%);
    margin-bottom: 15px;
    font-size: 28px;
}

.info-box p{
    color: hsl(0, 82%, 2%);
}